body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #efeeea;
  color: #222;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  background: #003366;
  color: #ffffff;
  padding: 15px;
}

header nav a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background-color: #003366;
  color: #ffffff;
}

section {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  width: 80%;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 150px;
  background-color: #003366;
  color: #ffffff;
  text-decoration: nonw;
  border-radius: 5px;
}

